<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../stylesheets/bootstrap.css" rel="stylesheet">

<hearder>
    <h1 >{{pageTitle}}</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/login">SignUp</a></p>
   <p><a href="/create">Create Snippets</a></p>

</hearder>
