
{{> header}}


{{#if error}}
    <p>
        Error: {{error}}
    </p>
{{/if}}

<link href="../stylesheets/style.css" rel="stylesheet">
<form class="" action="/about/login" method="post">

    <input type="text" name="email" value="" placeholder="Type your Email"><br>
    <input type="text" name="password" value="" placeholder="Type Your password"><br>
    <button class="btn btn-warning">Submit</button>
</form>